
[[redirects]]
  from = "/discord"
  to = "https://discord.gg/VdCWxpQ"

[[redirects]]
  from = "/reddit"
  to = "https://reddit.com/r/rocketwatch"

[[redirects]]
  from = "/twitter"
  to = "https://twitter.com/rocket_watch"
  
[[redirects]]
  from = "/youtube"
  to = "https://www.youtube.com/channel/UCpY48ts_nCvlBRAVlbJePgg" 
