@charset "UTF-8"; // Color
@import "components/color-variables";
@import "components/color-classes";
@import "components/variables"; // Fonts
@import "components/roboto"; // Reset
@import "components/normalize"; // components
@import "components/global";
@import "components/badges";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/typography";
@import "components/transitions";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/chips";
@import "components/materialbox";
@import "components/forms/forms"; //@import "components/table_of_contents";
@import "components/sidenav"; //@import "components/preloader";
//@import "components/slider";
//@import "components/carousel";
//@import "components/tapTarget";
//@import "components/pulse";
//@import "components/datepicker";
//@import "components/timepicker";
$color-background: #e7e7e7;
$primary-color: #1c2530;

a {
  color: gray;
}
// Mobile override style
@media (max-width: #{$small-screen}) {
  .row .col {
    padding: 0;
  }

  .svg-inline--fa.fa-bars.fa-w-14 {
    zoom: 1.5;
  }

  .crate-toggle {
    display: none;
  }

  #info {
    .card-content {
      .material-placeholder img {
        margin-top: 28px;
        width: 156px;
        height: 156px;
      }
      padding-top: 0;
      text-align: center !important;
    }

    .card-text {
      h1 {
        margin: 1.68rem 0;
      }
    }
  }

  .crate-toggle {
    margin-bottom: 48px !important;
  }

  footer {
    margin-bottom: 96px !important;
  }

  h1 {
    font-size: 3.56rem;
  }

  h2 {
    font-size: 2.92rem;
  }

  h3 {
    font-size: 2.28rem;
  }
}

body {
  background-color: #e7e7e7 !important;
}

nav {
  background-color: $primary-color;

  .sidenav-trigger {
    cursor: pointer;
  }

  .brand-logo {
    font-weight: 100;
    letter-spacing: 7px;
    white-space: nowrap;
  }
}

main {
  //zoom: 0.85;
}

footer {
  .row {
    margin-bottom: 20px;
  }
}

#fab {
  bottom: 24px;
  right: 24px;
}

#background {
  background-color: $color-background !important;
  z-index: -9999;
  position: fixed;
  width: 110%;
  height: 110%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
  }
}

#info {
  //zoom: 0.85;
  padding: 0;
  text-align: center;
  margin: 0;
  border-radius: unset;
  background-color: $primary-color !important;
  color: #fff !important;

  .pinned {
    background-color: $primary-color !important;
  }

  .indicator {
    background-color: #fff;
  }

  .flow-text,
  a,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 100;
    color: #fff !important;
  }

  .tab a {
    color: #fff !important;
  }

  .chip {
    background-color: #151b23;
    color: #fff;

    img {
      margin: 0 8px 0 -12px;
    }

    svg:not(#pagination) {
      margin: 0 8px 0 -12px;
      display: inline-block;
      object-fit: cover;
      float: left;
      height: 32px;
      width: 32px;
      border-radius: 50%;
    }
  }
  //non-Mobile
  @media (min-width: #{$small-screen}) {
    .card-content {
      margin: 0 auto;
      max-width: 1250px;

      .card-text {
        max-width: 825px;
        margin-right: 6px;
        margin-left: 6px;
        text-align: left;
        display: inline-block;
      }
    }

    .card-tabs {
      overflow: hidden;

      .btn,
      a,
      button {
        margin-bottom: 1rem;
      }

      ul {
        margin-left: 16.66667%;
        width: 66.66667%;
      }

      .pinned {
        margin: 0;
        width: 100%;
        padding-left: 16.66667%;
        padding-right: 16.66667%;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
      }
    }
  }
}

#video {
  background-color: #151b23;

  .col {
    padding: unset;
  }
}

#stats {
  @media (min-width: #{$medium-screen}) {
    .video-container {
      overflow: hidden !important;
      font-size: 5rem;

      h1 {
        font-size: 10rem;
      }
    }
  }
}

#loading {
  height: 500px;
}

body.dark {
  .input-field input {
    color: white;
  }

  .content-container {
    iframe:not(.twitter-timeline) {
      background-color: #fff;
    }
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #151b23;
  }

  .card-panel {
    background-color: $primary-color !important;
    color: #fff !important;
  }

  .card {
    background-color: $primary-color !important;
    color: #fff !important;

    .pinned {
      background-color: $primary-color !important;
    }

    .indicator {
      background-color: #fff;
    }

    .flow-text,
    a,
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-weight: 100;
      color: #fff !important;
    }

    .btn {
      margin: 0.5rem;
      background-color: #151b23 !important;
    }

    .collection {
      border: 1px solid #151b23;

      .collection-item {
        border-bottom: 1px solid #151b23;
        background-color: #1c2530;
      }
    }

    .chip {
      background-color: #151b23;
      color: #fff;

      img {
        margin: 0 8px 0 -12px;
      }

      svg:not(#pagination) {
        margin: 0 8px 0 -12px;
        display: inline-block;
        object-fit: cover;
        float: left;
        height: 32px;
        width: 32px;
        border-radius: 50%;
      }
    }
  }

  .tab a {
    color: #fff !important;
  }

  #background {
    background-color: #151b23 !important;
  }
}

.card-title .chip {
  background-color: #151b23;
  color: #fff;
}

.btn {
  margin: 0.5rem;
  background-color: #151b23 !important;
}

.btn:hover {
  background-color: #1c2530 !important;
}

.material-tooltip {
  //zoom: 0.85;
}

.sidenav {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.card-image img {
  height: 444.391px;
  object-fit: cover;
  object-position: 50% 0;
}

.card-tabs {
  min-height: 48px;
}

.card-content {
  .circle {
    display: unset;
    object-fit: cover;
    width: 128px;
    height: 128px;
  }

  .circle.logo {
    object-fit: contain;
    background-color: #fff;
  }
}

.card-title {
  a {
    color: white;
  }
}

.max2lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3em;
  line-height: 1.5em;
  white-space: pre-wrap;
  min-height: 3em;
  text-overflow: -o-ellipsis-lastline;
}

.video-container {
  height: calc((9/16)*100vw);
  max-height: calc(100vh - 250px);
  padding-bottom: unset;
  overflow: auto;

  embed,
  iframe,
  object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 2px;
  }
}

.cardnav {
  a {
    float: right;
    font-size: 16px;
    margin-right: 5px;
  }

  select {
    display: block !important;
    margin: 0 auto;
    padding: unset;
    height: 22px;
    width: unset;
    max-width: 66%;
  }
}

.card-action .btn,
.card.center {
  display: inline-block;
  margin: 0 0.75rem 0.5rem;
}

.input-field {
  input[type=text]:focus {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #151b23;
  }

  input[type=text] {
    font-size: 4rem;
    height: 6rem;
    text-align: center;
  }
}

main.col {
  padding: 0 !important;
}

.tabs {
  background-color: transparent;
}

.pinned {
  z-index: 2;
}

.chip {
  overflow: hidden;
  text-overflow: ellipsis;

  img {
    object-fit: contain;
    background-color: #fff;
  }

  svg:not(#pagination) {
    margin: 0 8px 0 -12px;
    display: inline-block;
    object-fit: cover;
    float: left;
    height: 32px;
    width: 32px !important;
    border-radius: 50%;
  }
}

.materialboxed.active {
  object-fit: scale-down !important;
  border-radius: unset !important;
}

#materialbox-overlay {
  width: 100% !important;
  height: 100% !important;
}

.become-patron-button {
  display: inline-block;
  font-family: sans-serif;
  background: #e6461a;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 700;
  user-select: none;
  border: 1px solid #e6461a;
  width: 100%;
  /* Fuck you, Patreon. */
}

.patreon-icon {
  padding-right: 0.25rem;
}

.fa-sync {
  transform: scale(0.7);
}
